In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [4]:
file='D:\python\data\ex1.csv'

In [5]:
df=pd.read_csv(file)

In [6]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_table(file,sep=',')

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
file2='D:\python\data\ex2.csv'

In [11]:
df2=pd.read_csv(file2,header=None)

In [12]:
df2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
pd.read_csv(file,names=['a','b','c','d','message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [14]:
names=['a','b','c','d','message']

In [16]:
pd.read_csv(file2,names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
pd.read_csv(file2,names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [19]:
!type D:\python\data\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [20]:
parsed=pd.read_csv('D:\python\data\csv_mindex.csv',index_col=['key1','key2'])

In [21]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [22]:
list(open('D:\python\data\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [24]:
result=pd.read_table('D:\python\data\ex3.txt',sep='\s+')

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [25]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [26]:
!type D:\python\data\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [27]:
pd.read_csv('D:\python\data\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [28]:
!type D:\python\data\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [29]:
result=pd.read_csv('D:\python\data\ex5.csv')

In [30]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [32]:
result=pd.read_csv('D:\python\data\ex5.csv',na_values=['NULL'])

In [33]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [34]:
sentinels={'message':['foo','NA'],'something':['two']}

In [35]:
pd.read_csv('D:\python\data\ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [36]:
pd.options.display.max_rows=10

In [37]:
result=pd.read_csv('D:\python\data\ex6.csv')

In [38]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [39]:
pd.read_csv('D:\python\data\ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [40]:
chunker=pd.read_csv('D:\python\data\ex6.csv',chunksize=1000)

In [41]:
chunker

In [42]:
chunker=pd.read_csv('D:\python\data\ex6.csv',chunksize=1000)

In [43]:
tot=pd.Series([])

In [44]:
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)

In [45]:
tot=tot.sort_values(ascending=False)

In [46]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [47]:
data=pd.read_csv('D:\python\data\ex5.csv')

In [48]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [49]:
data.to_csv('D:\python\data\out.csv')

In [50]:
!type D:\python\data\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [51]:
import sys

In [52]:
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [53]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [54]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [55]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [56]:
dates=pd.date_range('1/1/2000',periods=7)

In [57]:
ts=pd.Series(np.arange(7),index=dates)

In [61]:
!type D:\python\data\tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [62]:
!type D:\python\data\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [63]:
import csv

In [64]:
f=open('D:\python\data\ex7.csv')

In [65]:
reader=csv.reader(f)

In [66]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [67]:
with open('D:\python\data\ex7.csv') as f:
    lines=list(csv.reader(f))

In [68]:
header,values=lines[0],lines[1:]

In [69]:
data_dict={h: v for h,v in zip(header,zip(*values))}

In [70]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [73]:
obj="""
{"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
            {"name":"Katie","age":38,
             "pets":["Sixes","Stache","Cisco"]}]
}
"""

In [74]:
import json

In [75]:
result=json.loads(obj)

In [76]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [77]:
asjson=json.dumps(result)

In [78]:
siblings=pd.DataFrame(result['siblings'],columns=['name','age'])

In [79]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [80]:
!type D:\python\data\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [81]:
data=pd.read_json('D:\python\data\example.json')

In [82]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [83]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [84]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [89]:
frame=pd.read_csv('D:\python\data\ex1.csv')

In [90]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [91]:
pd.read_pickle('D:\python\data\frame_pickle')

OSError: [Errno 22] Invalid argument: 'D:\\python\\data\x0crame_pickle'

In [92]:
frame=pd.DataFrame({'a':np.random.randn(100)})

In [93]:
store=pd.HDFStore('mydata.h5')

In [94]:
store['obj1']=frame

In [95]:
store['obj1_col']=frame['a']

In [96]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [97]:
store['obj1']

           a
0  -1.467776
1   1.369273
2  -1.109368
3  -0.458014
4   0.148022
..       ...
95  1.028804
96 -0.670486
97 -0.144037
98  0.320590
99  1.304009

[100 rows x 1 columns]

In [98]:
store.put('obj2',frame,format='table')

In [99]:
store.select('obj2',where=['index>=10 and index<=15'])

           a
10  0.095892
11 -0.787040
12 -0.074687
13 -1.034036
14 -0.233289
15 -0.559627

In [100]:
store.close()

In [101]:
frame.to_hdf('mydata.h5','obj3',format='table')

In [102]:
pd.read_hdf('mydata.h5','obj3',where=['index<5'])

          a
0 -1.467776
1  1.369273
2 -1.109368
3 -0.458014
4  0.148022

In [103]:
xlsx=pd.ExcelFile('D:\python\data\ex1.xlsx')

In [104]:
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [105]:
frame=pd.read_excel('D:\python\data\ex1.xlsx','Sheet1')

In [106]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [107]:
writer=pd.ExcelWriter('D:\python\data\ex2.xlsx')

In [108]:
frame.to_excel(writer,'Sheet1')

In [109]:
writer.save()

In [110]:
frame.to_excel('D:\python\data\ex2.xlsx')

In [111]:
import requests

In [112]:
url='https://api.github.com/repos/pandas-dev/pandas/issues'

In [113]:
resp=requests.get(url)

In [114]:
resp

In [115]:
data=resp.json()

In [116]:
data[0]['title']

'Enhancement: The shift function should have an optional argument allowing to extend the dataframe i.e. for forecasts'

In [117]:
issues=pd.DataFrame(data,columns=['number','title','labels','state'])

In [118]:
issues

,number,title,labels,state
0,27091,Enhancement: The shift function should have an...,[],open
1,27090,ENH: allow non-Tick offsets in index.round/cei...,[],open
2,27089,Anyone knows a free Transaction Language 1 (TL...,[],open
3,27088,BUG: Fix handling of ambiguous or nonexistent ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,27087,"WIP: Add DayEnd, DayBegin Offsets (Help Wanted)",[],open
...,...,...,...,...
25,27055,DOC: Validation of docsting validates Python t...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
26,27054,DOC: Fix pipe example in the Essential basic f...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
27,27052,sharey and tick_params: top row not impacted,[],open
28,27051,ENHANCEMENT: Write df to an existing excel sheet,[],open
29,27050,Contributing Guide for Type Hints,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open

In [119]:
import sqlite3

In [120]:
query="""
CREATE TABLE test
(a VARCHAR(20),b VARCHAR(20),
 c REAL,       d INTEGER
 );"""

In [121]:
con=sqlite3.connect('mydata.sqlite')

In [122]:
con.execute(query)

In [123]:
con.commit()

In [124]:
data=[('Atlanta','Georgia',1.25,6),
      ('Tallahassee','Floria',2.6,3),
      ('Sacramento','California',1.7,5)]

In [126]:
cursor.description

NameError: name 'cursor' is not defined

In [127]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

NameError: name 'rows' is not defined